html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #142850;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* background-image: url('/imgs/product.jpg'); */
}

header {
  height: 70px;
  background: rgba(0, 0, 0, 0);
  width: 70%;
  left: 14.5%;
  position: fixed;
  display: flex;

  justify-content: center;
  align-items: center;
  top: 5%;
  z-index: 99;
}

.burger {
  display: none;
  transition: all 1s ease;
}
.burger-menu {
  display: none;
  transition: all 0.5s ease-in;
}
.nav-container ul li a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  padding-right: auto;
  padding-left: auto;
  margin: 0%;

  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 21px;
  font-family: "lobster", cursive;

  transition: aLL 30ms ease-in;

  top: 20%;
  position: relative;
}
.unolist {
  /* border-bottom:1px solid #fff; */
  height: 49px;
  padding: 0px;
  width: 40%;

  position: relative;
  text-align: center;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  /* background: #000; */
  /* border-bottom-right-radius: 70%;
  border-bottom-left-radius: 70%; */
  /* box-shadow: 0px 10px 10px rgb(0, 0, 0); */
}

.unolist2 {
  /* border-bottom:1px solid #fff; */
  height: 39px;
  padding: 0px;
  width: 40%;

  position: relative;
  text-align: center;
  display: flex;
  list-style: none;
  justify-content: space-evenly;

  /* border-bottom-left-radius: 70%;
  border-bottom-right-radius: 70%; */
}
.unolist2 li:nth-child(3) {
  background: rgb(255, 112, 29);
  height:40px;
  width:100px;
  border-radius:10px;
}

.nav-container ul li a:hover {
  text-decoration: none;
  border-top: 1px solid rgb(255, 255, 255);
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 10px;
  transition: 0.5s;
  /* background: #000; */
  /* border: 1px #fff solid ; */
}

.container_c {
  margin: 0;
  padding: 0;
  width: 100%;
}
.whatsapp{

  position:fixed;
  bottom:50px;
  z-index: 999999999;
  right:50px;
  width:70px;

}
.copyrig {
  font-size: 25px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  border-left: 1px white solid;
  border-right: 1px white solid;

  letter-spacing: 3px;
}

section.home {
  background-image: url("../imgs/grand_canon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: all 100ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-bottom: 0.2px solid white;
}
.content_home {
  position: relative;
  top: 10px;
  width: 40%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border:1px white solid; */
}
.content_home p {
  letter-spacing: 1px;
  top: 30px;
  position: relative;
  bottom: 30px;
  color: white;
  font-size: 1.25rem;
  width: 100%;
  text-align: left;
  font-family: "Courgette", cursive;
  font-weight: 100;
}

.overlay {
  height: 100vh;
  background: #000000ac;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heading {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heading h1 {
  font-size: 2em;
  font-family: "Rye";

  /* background: -webkit-linear-gradient(rgb(225, 0, 255), rgb(0, 179, 170));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  letter-spacing: 7px;
  font-size: 3.75em;
  color: #ffffff;
  font-weight: 100;
  text-shadow: none;
  transition: all 0.12s ease-in;
}

.merak {
  width: 70%;
  border-bottom: 2px solid #fff;
  opacity: 1;
  top: 50%;
}

.heading h5 {
  color: white;
  text-shadow: none;
  font-family: "Grand Hotel", cursive;
  font-size: 2.75em;
  letter-spacing: 2px;
  font-weight: 100;
}
.circle {
  width: 15%;
  position: absolute;
  height: 56%;
  background: none;
  border-right: 2px #ffffff solid;
  border-left: 2px #ffffff solid;
  /* box-shadow:0px 0px 10px rgba(255, 255, 255, 0.205) inset;
   color:rgba(255, 255, 255, 0.884); */
  position: relative;

  background-position: center;

  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 99;
  cursor: pointer;
  /* border-radius: 50%; */
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.logoo {
  top: -40px;
  position: relative;
  transform: scale(0.8);
}

.wheee1 {
  height: 40px;
  overflow: hidden;
  background-image: url("../imgs/brown-vintage-background-with-steampunk-gears-design.jpg");
}
.wheeOverlay {
  width: 170%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  z-index: 99;
  position: relative;
}
.wheeContainer {
  list-style: none;
}
.wheeContainer li {
  font-size: 25px;
  margin: 10px;
  color: white;
  font-weight: 100;
  display: inline-block;
}

.nav-active {
  opacity: 1;
}

/*  home eends here!  */

/* about starts here  */

.about {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  margin: auto;
  border: 1px solid #fff;
  background-image: url("../imgs/bg333.png");
  background-size: cover;
  background-position: center;
}
.about_content {
  display: flex;
  color: white;
  font-family: "Unica One";
  justify-content: space-evenly;
  font-weight: 100;
  letter-spacing: 1.5px;
  height: 20%;
  margin: 10px;

  /* border:6px solid #fff; */
  flex-wrap: wrap;
}

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
  width: 45%;
}

.cont h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgba(252, 70, 57, 0.993);
}

.about_content p {
  position: relative;
  font-weight: 100;
  font-size: 20px;
}

.about_content:nth-child(2) {
  position: relative;
  margin-bottom: 10%;
}

.linear {
  height: auto;
  width: 40%;
  position: relative;

  filter: brightness(00);
}
.colorize {
  filter: brightness(00);

  transition: all 1s ease;
}
.overlayAbout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #00000052;
}
.about-items {
  width: 70%;
}
.merak2 {
  /* filter: saturate(0);
  filter: brightness(500); */

  width: 50%;
  transition: all 1s ease;
}
.colorize:hover {
  filter: brightness();
}
/* about ends here  */

/* team starts here  */

.team-container {
  width: 100%;
  background: #40bfc1;
  background-image: url("../imgs/brown-vintage-background-with-steampunk-gears-design.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-size: 2200px;
  border-top: 1px solid #fff;
  transition: all 1s ease;
}

.team-container h1 {
  color: white;
  font-size: 30px;
  font-family: "lobster";
  font-weight: 100;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.teamer {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  position: relative;
}
.team-overlay {
  background: rgba(0, 91, 114, 0.671);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.member {
  margin-top: 30px;
  height: 300px;
  width: 200px;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  border-top: 10px solid #40bfc1;
  border-bottom: 10px solid #ff522fb6;
  filter: saturate(0);
  transition: all 200ms ease-in;
}
.member:hover {
  filter: sepia(0);
  transform: translateY(-10px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
}
.johnDoe {
  height: 55%;
  width: 80%;
  margin-top: 20px;
  left: 20px;

  position: relative;
}
.social {
  list-style: none;
  display: flex;
  width: 70%;

  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  background: rgb(224, 224, 224);
  border-radius: 10px;
  height: 40px;
  text-align: center;
}

.social li a i {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* 
team ends here  */
/* 
prducts start here  */

section.product {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-image: url("../imgs/product.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.product-overlay {
  height: auto;
  background: #00000094;
  width: 100%;

  position: relative;
}
.product-overlay h1 {
  text-align: center;
  color: white;
  padding: 30px;
  font-size: 30px;
  font-family: "Lobster";
  font-weight: 100;
  text-decoration: underline;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  width: 100%;
  position: relative;
}
.product-item {
  height: 250px;
  width: 35%;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: monospace;
  background-image: url("../imgs/bg333.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lobster";
  font-weight: 100;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
  border-top: 10px solid #804800;
  border-bottom: 10px solid #804800;
}
.big-card {
  height: 300px;
  width: 45%;
}
.bid-card .imagecss {
  width: 70%;
}
.product-item:hover {
  box-shadow: 10px 10px 10px solid #000;
}

.product-info {
  width: 50%;
  height: 100%;
  position: relative;
  color: black;
}
.product-info h1 {
  color: rgb(78, 53, 29);
  text-decoration: none;
  text-align: left;
  padding: 10px;
  padding-left: 60px;
  font-family: "Rye";
}
.product-info ul {
  margin-left: 25px;
}
.product-info ul li {
  padding-left: 10px;
  list-style-type: georgian;
  line-height: 30px;
  font-size: 20px;
}
.product-info h2 {
  padding: 0;
  font-weight: 100;
}

.product-button {
  height: 30px;
  width: 50%;
  margin-top: 10px;

  background: none;
  border-radius: 10px;
  background: #001a70;
  cursor: pointer;
  border: none;
  font-size: 15px;
  position: relative;
  outline: none;
  color: white;
  font-family: "Lobster";
  font-weight: 100;
}
.product-button:hover {
  border: 2px #001a70 solid;
  background: #fff;
  color: black;
}
.imagecss {
  height: auto;
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.square {
  height: 20px;
  width: 20px;
  background: #000;
  display: inline-block;
}
.a-colors {
  margin-top: 20px;
}

.product-item h4 {
  padding-top: 15px;
}

.translatee {
  transform: translateY(0);
  transition: all 200ms ease;
}
.translatee:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
}

/* 
product ends here  */

/* footer starts here  */

.footer {
  height: 37vh;
  width: 100%;
  background-image: url("../imgs/bg333.jpg");
  /* background: rgba(39, 39, 39, 0.952); */

  color: white;
  font-family: "lobster";
  font-weight: none;
}
.footer-overlay {
  width: 100%;
  height: 100%;
  display: flex;

  background: #2a2a2a;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "lobster";
  font-weight: none;
}
.footer-logo {
  height: auto;
  width: 120px;
  padding: 10px;
  margin-top: 10px;
}
.footer-links li a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.contact-form i {
  margin-left: 11px;
}

.fab {
  opacity: 0.6;
}
.fab:hover {
  opacity: 1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.466);
}
.fa-facebook {
  color: #1ffbff;
}
.fa-instagram {
  color: #ffffff;
}
.fa-flickr {
  color: #0081fa;
}
.fa-youtube {
  color: #dd0025;
}
.fa-twitter {
  color: #a9ebff;
}
.footer-links li {
  list-style: none;
  display: inline;
  margin: 15px;
}
.contact-form i {
  font-size: 20px;
}
.devDesc {
  margin-top: 10px;
  font-size: 20px;
  font-family: "lobster";
  font-weight: none;
  letter-spacing: 2px;
}
.devDesc a {
  text-decoration: none;
  color: #40bfc1;
  margin-left: 10px;
}

section.location {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #804800;
  background-image: url("../imgs/map.jpg");
  font-family: "Rye";
  background-size: cover;
  background-position: center;
}
.location-overlay {
  background-color: #804900af;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.location-overlay iframe {
  padding: 20px;
  width: 80%;
  height: 50%;
}
/* 
footer ends here  */

/* scroll bar customiastion starts here! */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  height: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170);
}

/* modals  */

.row > .column {
  padding: 0 8px;
}
.row {
  width: 65%;
  margin: auto;
  display: flex;
}
.row:after {
  content: "";
  display: flex;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe00;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
